# Data & Large Files
Proteome/
Embeddings/
*.h5
*.obo
*.gaf
*.tsv
*.csv

# Results & Logs
results/
UMAP_ESMCEMBEDDINGS/
ortho/
slurm_out/
*.html
*.png

# Environment & Tools
.vscode/
.ipynb_checkpoints/
__pycache__/